html, body,h1,a,li{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}


header,nav{
	display: block;
	margin: 0;
	padding: 0;
}

body {
	background: #f0f0f0;
	border: none;
	color: #333;
	margin: 0 auto;
	font: 14px/24px Helvetica, Arial, sans-serif;
	width: 960px;
}

h1 {
	font: normal bold 34px/50px Arial, Helvetica, sans-serif;
	padding-top: 30px;
}


a {
	color: #CC6600;
	text-decoration: none;
}

#mast h1 {
	padding: 30px 0 20px 40px;
}

nav#global {
	padding: 10px 0;
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #333;
}

nav#global ul {
	margin: 0 auto;
	width: 960px;
	border: none;
}

nav#global ul li {
	display: inline;
	list-style: none;
	padding-left: 10px;
}

nav#global ul li a {
	color: #777;
	background-color: #222;
	border: 2px solid #222;
	font: normal bold 14px/44px Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-right: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}

nav#global ul li a:hover, nav#global ul li a:focus {
	background-color: #111;
	border: 2px solid #444;
	color: #FF9900;
	text-decoration: none;
}
